/* Для ant sliderа пришлось так залезать в верстку костыльно:( */

.ant-slider-track {
  background-color: #e42845;
}
.ant-slider:hover > .ant-slider-track {
  background-color: rgb(7, 61, 89);
}

.ant-slider-handle {
  background-color: #e42845;
  border: none;
}

.ant-slider:hover > .ant-slider-handle {
  background-color: #e42845;
  border: none;
}
